ACTION=="remove", GOTO="systemd_escape_uuids_end"
SUBSYSTEM!="block", GOTO="systemd_escape_uuids_end"

ENV{ID_PART_ENTRY_UUID}=="?*", PROGRAM="/usr/bin/systemd-escape '$env{ID_PART_ENTRY_UUID}'", ENV{ID_PART_ENTRY_UUID_SYSTEMD}="%c"
ENV{ID_FS_UUID}=="?*", PROGRAM="/usr/bin/systemd-escape '$env{ID_FS_UUID}'", ENV{ID_FS_UUID_SYSTEMD}="%c"

LABEL="systemd_escape_uuids_end"
