ACTION=="remove", GOTO="security_devices_end"

# Generic "any device" symlink
ENV{ID_FIDO_TOKEN}=="1", TAG+="systemd", SYMLINK+="security/fido"
ENV{ID_SMARTCARD_READER}=="1", TAG+="systemd", SYMLINK+="security/smartcard"

# Try to find an available numbered symlink as well
ENV{ID_FIDO_TOKEN}=="1", IMPORT{program}="/usr/bin/sh -c 'for n in $$(seq 0 9); do [ ! -e /dev/security/fido$$n ] && echo ID_FIDO_DEVNUM=$$n && break; done'"
ENV{ID_SMARTCARD_READER}=="1", IMPORT{program}="/usr/bin/sh -c 'for n in $$(seq 0 9); do [ ! -e /dev/security/smartcard$$n ] && echo ID_SMARTCARD_DEVNUM=$$n && break; done'"
ENV{ID_FIDO_DEVNUM}=="?*", SYMLINK+="security/fido$env{ID_FIDO_DEVNUM}"
ENV{ID_SMARTCARD_DEVNUM}=="?*", SYMLINK+="security/smartcard$env{ID_SMARTCARD_DEVNUM}"

LABEL="security_devices_end"
