[Unit]
Description=Prepare for boot-time user authentication
DefaultDependencies=no
After=systemd-pcrphase-initrd.service
Before=boot-auth.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=boot-auth.target
OnSuccessJobMode=flush
