[Unit]
Description=Copy images to VG %I
DefaultDependencies=no
Wants=cryptsetup.target
After=cryptsetup.target
After=initrd-init-disks.target
After=vgcreate@%i.service
Before=initrd-install-sys.target
Before=initrd-root-device.target initrd-fs.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
#ConditionDirectoryNotEmpty=!/dev/%I/
RequiresMountsFor=%t/spork/sysimages

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
ExecStartPre=printf '================ copy-sys-images "%%s" "%%s" "%%s" "%%s"\n' '%I' '%t/spork/sysimages' '%M' '%A'
ExecStart=/usr/libexec/copy-sys-images '%I' '%t/spork/sysimages' '%M' '%A'

[Install]
WantedBy=initrd-install-sys.target
