[Unit]
Description=Create symlink /dev/disk/by-id/boot-esp
Documentation=man:systemd-boot(7)
DefaultDependencies=no
ConditionFirmware=uefi
ConditionPathExists=/sys/firmware/efi/efivars/LoaderDevicePartUUID-4a67b082-0a4c-41cf-b6c7-440b29bb8c4f
RequiresMountsFor=/sys/firmware/efi/efivars

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/create-boot-esp-device-link.sh
ExecStartPost=systemctl daemon-reload

[Install]
WantedBy=dev-disk-by\x2did-boot\x2desp.device
