[Unit]
Description=Rotate volume encryption keys on %f
DefaultDependencies=no
Requires=%i.device
After=%i.device
Wants=cryptsetup-pre.target
After=cryptsetup-pre.target
Before=cryptsetup.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
SyslogIdentifier=%p@%f
TimeoutSec=infinity
Environment="EXTRA_REENCRYPT_ARGS="
ExecCondition=udevadm lock -d '%f' sh -c "cryptsetup isLuks '%f' && echo | cryptsetup open --test-passphrase --disable-external-tokens '%f'"
ExecStartPre=echo 'Rotating volume encryption key on %f. This may take some time...'
ExecStart=udevadm lock -d '%f' sh -c "echo | cryptsetup reencrypt --progress-frequency=2 ${EXTRA_REENCRYPT_ARGS} '%f'"

[Install]
WantedBy=initrd.target
