[Unit]
Description=Check for security token
DefaultDependencies=no
Requires=dev-security-fido.device
After=dev-security-fido.device
Before=initrd-auth-pre.target
Before=cryptsetup-pre.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnFailure=wait-for-yubikey.target
OnFailureJobMode=flush
JobTimeoutSec=10
