[Unit]
Description=Initialize disk encryption on device %f
DefaultDependencies=no
After=systemd-udevd-kernel.socket
Requires=dev-security-fido.device
After=dev-security-fido.device
Requires=%i.device
After=%i.device
Before=initrd-init-disks-pre.target
Wants=cryptsetup-pre.target
After=cryptsetup-pre.target
Before=systemd-cryptsetup@lukshdrs.service
Conflicts=systemd-cryptsetup@lukshdrs.service
Before=blockdev@dev-mapper-lukshdrs.target
Conflicts=blockdev@dev-mapper-lukshdrs.target
Before=cryptsetup.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
StandardOutput=journal+console
ExecCondition=sh -c '! cryptsetup isLuks "%f"'
ExecStartPre=sh -c 'systemd-ask-password --emoji=no --id="%n:doformat" --icon=dialog-warning -e "Do you want to format %f and bind it to this machine? (reply with upper case yes)" | grep -Fxq "YES"'
ExecStart=/usr/libexec/firstboot-init-lukshdrs "%f"

[Install]
WantedBy=initrd.target
