[Unit]
Description=Rotate volume encryption keys on %f
DefaultDependencies=no
Requires=%i.device
After=%i.device
Wants=firstboot-rotate-keys@%i.service
After=firstboot-rotate-keys@%i.service
Wants=cryptsetup-pre.target
After=cryptsetup-pre.target
Before=cryptsetup.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
StandardOutput=journal+console
TimeoutSec=infinity
ExecStart=/usr/libexec/firstboot-rotate-keys "%f"

[Install]
WantedBy=initrd.target
