[Unit]
Description=Generate key for TOTP authentication
DefaultDependencies=no
After=initrd-auth-pre.service
After=systemd-random-seed.service
Before=initrd-totp.service
Before=initrd-auth.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
ConditionCredential=!initrd-totp-%I
ConditionPathExists=!%t/credstore.encrypted/initrd-totp-%I
ConditionSecurity=tpm2
RequiresMountsFor=%t/credstore.encrypted
RequiresMountsFor=/efi/loader/credentials

[Service]
StandardOutput=tty
StandardError=inherit
Type=oneshot
ExecStartPre=mkdir -m 0700 -p -Z -v '%t/credstore.encrypted'
ExecStartPre=mkdir -p -v '/efi/loader/credentials'
ExecStart=/usr/libexec/totp-generate 'initrd-totp-%I' '%t/credstore.encrypted/'
