[Unit]
Description=Locate detached LUKS headers
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
Wants=dev-security-fido.device
After=dev-security-fido.device
After=cryptsetup-pre.target
Before=cryptsetup.target
Before=initrd-fs.target
Before=initrd-root-device.target
Conflicts=shutdown.target
Before=shutdown.target
