[Unit]
Description=Verify boot-time user authentication
DefaultDependencies=no
Requires=initrd-auth-pre.target
After=initrd-auth-pre.target
Wants=systemd-reset-failed.service
Before=systemd-reset-failed.service
Before=cryptsetup-pre.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=default.target
#OnSuccessJobMode=isolate
JobTimeoutSec=infinity
