[Unit]
Description=Prepare for boot-time user authentication
DefaultDependencies=no
After=systemd-pcrphase-initrd.service
Before=initrd-auth-pre.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=initrd-auth.target
OnSuccessJobMode=flush

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=inherit
SyslogIdentifier=%N
ExecStart=sh -c "printf 'Begin boot-time user authentication\n'"
