[Unit]
Description=Install system images
DefaultDependencies=no
After=systemd-udevd-kernel.socket
After=systemd-udevd.service
After=systemd-udev-trigger.service
After=systemd-udev-settle.service
After=cryptsetup-pre.target
After=initrd-auth.target
After=initrd-init-disks.target
After=cryptsetup.target
Before=initrd-root-device.target systemd-fsck-root.service
Before=initrd-fs.target initrd-root-fs.target initrd-usr-fs.target 
Before=sysroot.mount sysroot-etc.mount sysroot-.overlay\x2detc.mount sysroot-usr.mount sysusr-usr.mount
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=default.target
OnSuccessJobMode=replace
JobTimeoutSec=infinity
