[Unit]
Description=Unlock all drives
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
Wants=dev-security-fido.device
After=dev-security-fido.device
After=cryptsetup.target
Before=initrd-fs.target
Before=initrd-root-device.target
Conflicts=shutdown.target
Before=shutdown.target
