[Unit]
Description=Format partition /dev/disk/by-%J/%I for LUKS encryption
Documentation=man:cryptsetup-luksFormat(8)

DefaultDependencies=no
Requires=dev-disk-by\x2d%j-%i.device
After=dev-disk-by\x2d%j-%i.device
After=initrd-auth.target
Wants=cryptsetup-pre.target
After=cryptsetup-pre.target
Before=systemd-cryptsetup-by-%j@%i.service
Before=blockdev@dev-mapper-luks\x2d%i.target
Before=cryptsetup.target
Before=initrd-root-device.target
Before=initrd-usr-fs.target initrd-root-fs.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
ConditionVirtualization=!container
OnSuccess=systemd-cryptsetup-by-%j@%i.service

[Service]
Type=oneshot
StandardOutput=journal+console
SyslogIdentifier=luks-format-%I
#RemainAfterExit=yes
# The luksFormat script supports some environment variables:
#Environment="LUKSFORMAT_CIPHER="
#Environment="LUKSFORMAT_CIPHER_KEYSIZE="
#Environment="LUKSFORMAT_INTEGRITY="
#Environment="LUKSFORMAT_LABEL="
#Environment="LUKSFORMAT_TPM2_DEVICE="
#Environment="LUKSFORMAT_TPM2_PCRS="
#Environment="LUKSFORMAT_DETACHED_HEADER="
#Environment="LUKSFORMAT_FIDO2_DEVICE=auto"
# Run mkfs or similar tool on the disk after formatting:
#Environment="LUKSFORMAT_MKFS="
ExecCondition=/usr/bin/udevadm lock -d '/dev/disk/by-%J/%I' /usr/libexec/is-disk-blank '/dev/disk/by-%J/%I'
ExecStart=/usr/libexec/luks-format '/dev/disk/by-%J/%I'
