[Unit]
Description=Mount %f
After=blockdev@dev-mapper-sysimages.target
BindsTo=dev-mapper-sysimages.device
After=dev-mapper-sysimages.device

[Mount]
What=/dev/mapper/sysimages
Type=xfs
