[Unit]
Description=Mount %f
After=blockdev@dev-mapper-lukshdrs.target
BindsTo=dev-mapper-lukshdrs.device
After=dev-mapper-lukshdrs.device

[Mount]
What=/dev/mapper/lukshdrs
Type=xfs
LazyUnmount=yes
