[Unit]
Description=Mount %f
After=blockdev@dev-mapper-luks\x2dlukshdrs.target
BindsTo=dev-mapper-luks\x2dlukshdrs.device
After=dev-mapper-luks\x2dlukshdrs.device

[Mount]
What=/dev/mapper/luks-lukshdrs
LazyUnmount=yes
