[Unit]
Description=Copy images to VG %I
DefaultDependencies=no
Wants=cryptsetup.target
After=cryptsetup.target
After=initrd-init-disks.target
Before=initrd-install-sys.target
Before=initrd-root-device.target initrd-fs.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
#ConditionDirectoryNotEmpty=!/dev/%I/
RequiresMountsFor=%t/spork/sysimages

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
ExecStartPre=sh -c "printf '================ spork-install %I %t/spork/sysimages %M %A\n'"
ExecStart=/usr/libexec/spork-install '%I' '%t/spork/sysimages' '%M' '%A'

[Install]
WantedBy=initrd-install-sys.target
