[Unit]
Description=/usr
Before=initrd-fs.target
Requires=systemd-fsck@dev-vg\x2dsys-usr.service
After=systemd-fsck@dev-vg\x2dsys-usr.service
After=blockdev@dev-vg\x2dsys-usr.target

[Mount]
What=/dev/vg-sys/usr
Options=nodev
