[Unit]
Description=dm-crypt setup for luks-%I
Documentation=man:crypttab(5) man:systemd-cryptsetup-generator(8) man:systemd-cryptsetup@.service(8)

DefaultDependencies=no
After=cryptsetup-pre.target systemd-udevd-kernel.socket
After=initrd-format-disk@%i.target
After=systemd-random-seed.service
Wants=blockdev@dev-mapper-luks\x2d%i.target
Before=blockdev@dev-mapper-luks\x2d%i.target
Before=cryptsetup.target
IgnoreOnIsolate=yes
Conflicts=umount.target
Before=umount.target
BindsTo=dev-disk-by\x2d%j-%i.device
After=dev-disk-by\x2d%j-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=infinity
KeyringMode=shared
OOMScoreAdjust=500
Environment="CRYPTSETUP_OPTIONS=luks,fido2-device=auto,tpm2-device=auto"
Environment="CRYPTSETUP_KEYFILE=-"
ExecStart=/usr/lib/systemd/systemd-cryptsetup attach 'luks-%I' '/dev/disk/by-%J/%I' "${CRYPTSETUP_KEYFILE}" "${CRYPTSETUP_OPTIONS}"
ExecStop=/usr/lib/systemd/systemd-cryptsetup detach 'luks-%I'
