[Unit]
Description=Repartition security drive
Documentation=man:systemd-repart(8)
DefaultDependencies=no
Wants=modprobe@loop.service modprobe@dm_mod.service
After=modprobe@loop.service modprobe@dm_mod.service
Requires=dev-disk-by\x2dpartlabel-lukshdrs.device
After=dev-disk-by\x2dpartlabel-lukshdrs.device
Wants=cryptsetup-pre.target
Before=cryptsetup-pre.target
Before=initrd-usr-fs.target initrd-root-fs.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
ConditionVirtualization=!container
ConditionFirmware=uefi
ConditionDirectoryNotEmpty=|/usr/lib/repart.d
ConditionDirectoryNotEmpty=|/usr/local/lib/repart.d
ConditionDirectoryNotEmpty=|/etc/repart.d
ConditionDirectoryNotEmpty=|/run/repart.d

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-repart --root=/ --dry-run=no /dev/disk/by-partlabel/lukshdrs

# The tool returns 77 if there's no existing GPT partition table
SuccessExitStatus=77

[Install]
WantedBy=initrd-root-device.target
