[Unit]
Description=Wait until hardware security token is present
DefaultDependencies=no
Requires=systemd-udevd.service
After=systemd-udevd.service
Before=wait-for-yubikey.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
TimeoutStartSec=infinity
JobTimeoutSec=infinity
ExecStart=/usr/libexec/wait-for-yubikey
StandardOutput=journal+console
OnSuccess=default.target
