[Unit]
Description=Wait for hardware security token
DefaultDependencies=no
Wants=systemd-reset-failed.service
Before=systemd-reset-failed.service
Before=cryptsetup-pre.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=default.target
OnSuccessJobMode=isolate
JobTimeoutSec=infinity
