[Unit]
Description=Check for security token
DefaultDependencies=no
After=initrd-auth.target
Requires=dev-security-fido.device
After=dev-security-fido.device
Before=cryptsetup-pre.target
Before=shutdown.target
Conflicts=shutdown.target
JobTimeoutSec=30
IgnoreOnIsolate=yes
