[Unit]
Description=Initialize /dev/mapper/luks-%I
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
Wants=dev-security-fido.device
After=dev-security-fido.device
After=cryptsetup-pre.target
Requires=initrd-init-disks-pre.target
After=initrd-init-disks-pre.target
Wants=initrd-format-disk@%i.target
After=initrd-format-disk@%i.target
Wants=systemd-cryptsetup-detached-by-partuuid@%i.service
After=systemd-cryptsetup-detached-by-partuuid@%i.service
Before=initrd-init-disks.target
Before=cryptsetup.target
Before=initrd-root-device.target systemd-fsck-root.service
Before=initrd-fs.target initrd-root-fs.target initrd-usr-fs.target 
Conflicts=shutdown.target
Before=shutdown.target
ConditionPathExists=/usr/lib/initrd-release
