[Unit]
Description=Mutual TOTP authentication
DefaultDependencies=no
Wants=systemd-ask-password-console.path
After=systemd-ask-password-console.path
After=systemd-ask-password-plymouth.path
Wants=initrd-auth-pre.target
After=initrd-auth-pre.target
Wants=initrd-totp-generate@machine.service
After=initrd-totp-generate@machine.service
Wants=initrd-totp-generate@user.service
After=initrd-totp-generate@user.service
Before=initrd-auth.target
Before=shutdown.target
Conflicts=shutdown.target
JobTimeoutSec=infinity
JobRunningTimeoutSec=infinity

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=infinity
ImportCredential=initrd-totp-machine
ImportCredential=initrd-totp-user
ExecStart=/usr/libexec/totp-mutual "${CREDENTIALS_DIRECTORY}/initrd-totp-machine" "${CREDENTIALS_DIRECTORY}/initrd-totp-user"
ExecStartPost=sh -c 'printf "\n\n==== TOTP accepted ====\n\n" &>/dev/console'
StandardOutput=tty
StandardError=journal+console
SyslogIdentifier=%N
Restart=on-failure
