[Unit]
Description=Verify boot-time user authentication
DefaultDependencies=no
Requires=initrd-auth-pre.target
After=initrd-auth-pre.target
Requires=initrd-auth-complete.service
Before=initrd-auth-complete.service
Before=cryptsetup-pre.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
JobTimeoutSec=infinity
JobRunningTimeoutSec=infinity
