[Unit]
Description=User authentication complete
DefaultDependencies=no
Requires=initrd-auth.target
After=initrd-auth.target
Wants=wait-for-yubikey.target
Before=wait-for-yubikey.target
Before=shutdown.target
Conflicts=shutdown.target
ConditionPathExists=/usr/lib/initrd-release
# Next step after authentication has succeeded:
OnSuccess=initrd-init-disks.target

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
SyslogIdentifier=%N
ExecStartPre=-systemctl reset-failed
ExecStart=sh -c "printf 'User authentication complete!\n'"
