[Unit]
Description=Generate key for TOTP authentication
DefaultDependencies=no
After=initrd-auth-pre.target
After=systemd-random-seed.service
Before=initrd-totp.service
Before=initrd-auth.target
Before=shutdown.target
Conflicts=shutdown.target
ConditionCredential=!initrd-totp-%I
ConditionPathExists=!%t/credstore.encrypted/initrd-totp-%I
ConditionPathExists=/usr/lib/initrd-release
ConditionSecurity=tpm2
RequiresMountsFor=%t/credstore.encrypted
RequiresMountsFor=/efi/loader/credentials

[Service]
Type=oneshot
StandardOutput=tty
StandardError=inherit
SyslogIdentifier=%N
ExecStartPre=mkdir -m 0700 -p -Z -v '%t/credstore.encrypted'
ExecStartPre=mkdir -p -v '/efi/loader/credentials'
ExecStart=/usr/libexec/totp-generate 'initrd-totp-%I' '%t/credstore.encrypted/'
