[Unit]
Description=User authentication complete
DefaultDependencies=no
Requires=initrd-auth.target
After=initrd-auth.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=default.target
OnSuccessJobMode=replace

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=inherit
ExecStartPre=-systemctl reset-failed
ExecStart=sh -c "printf 'User authentication complete!\n'"
