[Unit]
Description=Format encrypted PV /dev/disk/by-partuuid/%I
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
Requires=dev-security-fido.device
After=dev-security-fido.device
After=cryptsetup-pre.target
Requires=initrd-init-disks-pre.target
After=initrd-init-disks-pre.target
RequiresMountsFor=%t/spork/luks
Wants=luks-format-detached-by-partuuid@%i.service
After=luks-format-detached-by-partuuid@%i.service
Before=cryptsetup.target
Before=initrd-init-disk@%i.target
Before=initrd-init-disks.target
Conflicts=shutdown.target
Before=shutdown.target
