[Unit]
Description=Prepare for installing system images
DefaultDependencies=no
Wants=initrd-init-disks.target
After=initrd-init-disks.target
Wants=initrd-install-sys.target
Before=initrd-install-sys.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
SyslogIdentifier=%N
ExecStartPre=-systemctl reset-failed
ExecStart=sh -c "printf 'Starting installation of sysimages\n'"
