[Unit]
Description=Initialize encrypted storage
DefaultDependencies=no
After=systemd-udevd-kernel.socket
After=systemd-udevd.service
After=systemd-udev-trigger.service
After=systemd-udev-settle.service
After=cryptsetup-pre.target
After=initrd-auth.target
After=initrd-init-disks-pre.target
Wants=initrd-install-sys.service
Before=initrd-install-sys.service
Before=cryptsetup.target
Before=remote-cryptsetup.target
Before=integritysetup.target
Before=veritysetup-pre.target
Before=veritysetup.target
Before=remote-veritysetup.target
Before=initrd-root-device.target systemd-fsck-root.service
Before=initrd-fs.target initrd-root-fs.target initrd-usr-fs.target 
Before=sysroot.mount sysroot-etc.mount sysroot-.overlay\x2detc.mount sysroot-usr.mount sysusr-usr.mount
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
JobTimeoutSec=infinity
