[Unit]
Description=Begin initialize encrypted storage
DefaultDependencies=no
Requires=initrd-auth.target
After=initrd-auth.target
Requires=initrd-init-disks-pre.target
Before=initrd-init-disks-pre.target
Requires=initrd-init-disks.target
Before=initrd-init-disks.target
Before=cryptsetup.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
SyslogIdentifier=%N
ExecStart=sh -c "printf 'Initializing encrypted storage\n'"
