[Unit]
Description=User authentication complete
DefaultDependencies=no
Requires=initrd-auth.target
After=initrd-auth.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=initrd-init-disks.target
OnSuccessJobMode=flush

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
SyslogIdentifier=%N
ExecStartPre=-systemctl reset-failed
ExecStart=sh -c "printf 'User authentication complete!\n'"
