[Unit]
Description=Done installing system images
DefaultDependencies=no
After=initrd-install-sys.target
Before=shutdown.target initrd-switch-root.target
Requires=emergency.service
Before=emergency.service
Requires=sysroot.mount
Before=sysroot.mount
Conflicts=shutdown.target initrd-switch-root.target
OnSuccess=default.target
OnSuccessJobMode=replace

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
#ExecStartPre=-systemctl reset-failed
ExecStart=sh -c "printf 'Done installing system images\n'"
