[Unit]
Description=Prepare for boot-time user authentication
DefaultDependencies=no
After=systemd-pcrphase-initrd.service
Before=initrd-auth.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target
