[Unit]
Description=Prepare for boot-time user authentication
DefaultDependencies=no
Wants=systemd-pcrphase-initrd.service
After=systemd-pcrphase-initrd.service
Wants=systemd-journald.socket
After=systemd-journald.socket
Before=initrd-auth.target
Before=shutdown.target
Conflicts=shutdown.target
IgnoreOnIsolate=yes
