[Unit]
Description=Create LUKS header for partition /dev/disk/by-%J/%I
Documentation=man:cryptsetup-luksFormat(8)
DefaultDependencies=no
Requires=dev-disk-by\x2d%j-%i.device
After=dev-disk-by\x2d%j-%i.device
After=initrd-auth.target
Wants=cryptsetup-pre.target
After=cryptsetup-pre.target
Before=systemd-cryptsetup-detached-by-%j@%i.service
Before=systemd-cryptsetup@luks\x2d%i.service
Before=blockdev@dev-mapper-luks\x2d%i.target
Before=cryptsetup.target
Before=initrd-root-device.target
Before=initrd-usr-fs.target initrd-root-fs.target
Before=shutdown.target
Conflicts=shutdown.target
Before=blockdev@dev-mapper-luks\x2d%i.target
ConditionVirtualization=!container
RequiresMountsFor=%t/spork/luks
ConditionPathExists=!%t/spork/luks/%I.luks
ConditionPathExists=/etc/initrd-release

[Service]
Type=oneshot
StandardOutput=journal+console
SyslogIdentifier=luks-format-detached@%I
# The luksFormat script supports some environment variables:
#Environment="LUKSFORMAT_CIPHER="
#Environment="LUKSFORMAT_CIPHER_KEYSIZE="
#Environment="LUKSFORMAT_INTEGRITY="
#Environment="LUKSFORMAT_LABEL="
#Environment="LUKSFORMAT_TPM2_DEVICE="
#Environment="LUKSFORMAT_TPM2_PCRS="
Environment="LUKSFORMAT_DETACHED_HEADER=%t/spork/luks/%I.luks"
#Environment="LUKSFORMAT_FIDO2_DEVICE=auto"
# Run mkfs or similar tool on the disk after formatting:
#Environment="LUKSFORMAT_MKFS="
ExecCondition=/usr/libexec/is-disk-blank '/dev/disk/by-%J/%I'
ExecStart=/usr/libexec/luks-format '/dev/disk/by-%J/%I'
