[Unit]
Description=Mount %f
After=blockdev@dev-mapper-%j.target
BindsTo=dev-mapper-%j.device
After=dev-mapper-%j.device

[Mount]
What=/dev/mapper/%J
DirectoryMode=0700
