[Unit]
Description=/etc upper backing store
Before=initrd-fs.target
Requires=systemd-fsck@dev-vg\x2dsys-overlay\x2detc.service
After=systemd-fsck@dev-vg\x2dsys-overlay\x2detc.service
After=blockdev@dev-vg\x2dsys-overlay\x2detc.target

[Mount]
What=/dev/vg-sys/overlay-etc
Options=nosuid,nodev
