[Unit]
Description=/etc writable overlay
Before=initrd-fs.target
RequiresMountsFor=/sysroot/usr/share/factory/%J
RequiresMountsFor=/sysroot/.overlay-%J/

[Mount]
What=overlay
Type=overlay
Options=lowerdir=/sysroot/usr/share/factory/%J,upperdir=/sysroot/.overlay-%J/overlay,workdir=/sysroot/.overlay-%J/workdir,nodev,nosuid

