[Unit]
Description=Enroll hardware tokens for encryption if currently using empty passphrase on %f
DefaultDependencies=no
Requires=dev-security-fido.device
After=dev-security-fido.device
Requires=%i.device
After=%i.device
Wants=cryptsetup-rotate-keys@%i.service
After=cryptsetup-rotate-keys@%i.service
Wants=cryptsetup-pre.target
After=cryptsetup-pre.target
Before=cryptsetup.target
Before=shutdown.target initrd-switch-root.target
Conflicts=shutdown.target initrd-switch-root.target

[Service]
Type=oneshot
StandardOutput=journal+console
SyslogIdentifier=luks-convert-fido2@%f
ExecCondition=udevadm lock -d '%f' sh -c "cryptsetup isLuks '%f' && echo | cryptsetup open --test-passphrase --disable-external-tokens '%f'"
ExecStart=udevadm lock -d '%f' systemd-cryptenroll --unlock-key-file=/dev/null --fido2-device=auto --wipe-slot=empty '%f'

[Install]
WantedBy=initrd.target
