[Unit]
Description=Wait for hardware security token
DefaultDependencies=no
Requires=wait-for-yubikey.service
After=wait-for-yubikey.service
Before=cryptsetup-pre.target
Before=shutdown.target
Conflicts=shutdown.target
JobTimeoutSec=infinity
JobRunningTimeoutSec=infinity
