[Unit]
Description=Wait until hardware security token is present
DefaultDependencies=no
Wants=systemd-udevd-kernel.socket
After=systemd-udevd-kernel.socket
After=initrd-auth.target
Before=wait-for-yubikey.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
TimeoutStartSec=infinity
ExecStart=/usr/libexec/wait-for-yubikey /dev/security/fido
ExecStartPost=-systemctl reset-failed
StandardOutput=journal+console
